<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.diagnostics>
     
    <!-- This will actually configure the behahvior of the global static Trace class -->

    <trace autoflush="true">
      <listeners>
        <add name="TextWriterFromConfigTraceListener" />
        <!--<add name="consoleTraceListener" />-->
      </listeners>
    </trace>

    <!-- The sharedListeners node will actually do nothing, but declare listeners that can be used within this XML file. -->
    <sharedListeners>

      <!-- Remember: TextWriterTraceListener needs flushing. -->
      <add 
        name="TextWriterFromConfigTraceListener" 
        type="System.Diagnostics.TextWriterTraceListener"
        initializeData="TextWriterFromConfigTraceListener.log"
      />

      <add name="consoleTraceListener" type="System.Diagnostics.ConsoleTraceListener" />

    </sharedListeners>

    <!-- This will actually set DefaultTraceListener.LogFileName (does not need to flush) -->

    <assert logfilename="DefaultTraceListener.log"/>

  </system.diagnostics>
</configuration>
